.container {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5rem;
  width: 100%;
}
.logo {
  cursor: pointer;
}
.menu {
  width: 23rem;
}
.list {
  display: flex;
  justify-content: space-between;
}
.list li {
  list-style: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
}
.login {
  background-color: #0b0b0f;
  width: 6rem;
  height: 2.5rem;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  margin-right: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.signup {
  background: rgb(24, 200, 255);
  background: linear-gradient(
    197deg,
    rgba(24, 200, 255, 1) 13%,
    rgba(147, 63, 254, 1) 64%
  );
  width: 6rem;
  height: 2.5rem;
  border: none;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}
.burgerMenu {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(8px);
  border-radius: 50px;
}
.burgerMenu .buttons {
  margin: 2rem 0rem;
}
.burgerMenu .menu {
  height: 20rem;}
.burgerMenu .menu .list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.burgerMenu .menu .list li {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: all ease-in-out 0.3s;
}
.burgerMenu .menu .list li:hover {
  backdrop-filter: blur(15px);
  transform: scale(1.5);
}
.burgerMenu .closeBurger {
  width: 100%;
  display: flex;
  justify-content: start;
}
.burgerMenu .closeBurger svg {
  font-size: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
}
