.container {
  display: flex;
  justify-content: center;
  margin: 50px 0px 100px;
  min-width: 1200px;
  min-height: 800px;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.tableDiv {
  width: 100%;
  border-collapse: collapse;
  background-color: #1a1b23;
  padding: 2rem;
  border-radius: 25px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody {
  margin-bottom: 20px;
}
.table th {
  font-size: 1.2rem;
  text-align: left;
  padding: 10px 0px;
}
.table tbody tr {
  height: 80px;
  border-bottom: 1px solid #22262e;
  font-weight: 600;
  font-size: 1.1rem;
}
.table tbody tr td:nth-child(5) {
  width: 12rem;
}
.table tbody tr td:nth-child(6) {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 100%; */
}
.symbol {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.symbol img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.symbol span {
  font-weight: 600;
  font-size: 1.2rem;
  color: #9fa6b7;
}

.success {
  color: #57bc7c;
}

.error {
  color: #d33636;
}
.name{
  color: #B982FF;
}
@media (max-width: 600px) {
  .table {
    display: block;
    overflow-y: scroll;
  }
  .table td,
  .table th {
    padding: 0 10px;
  }
}

.titles {
  width: 35rem;
  height: 22rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 9rem;
  text-align: center;
  margin-bottom: 4rem;
}
.titles h2 {
  width: 47rem;
  font-size: 3.1rem;
}
.titles p {
  width: 36rem;
  font-size: 1rem;
  color: #898ca9;
}

.startBtn {
  /* background: rgb(24, 200, 255);
  background: linear-gradient(
    197deg,
    rgba(24, 200, 255, 1) 13%,
    rgba(147, 63, 254, 1) 64%
  ); */
  background-color: black;
  border: 1px solid white;
  color: white;
  width: 10rem;
  height: 3.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.titles a {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  color: #b982ff;
}
