.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedBack {
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.feedBack h1 {
  font-size: 3.1rem;
  text-align: center;
}
.feedBack p {
  text-align: center;
  color: #898ca9;
}
.feedBack a {
  color: white;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0b0b0f, #0b0b0f) padding-box,
    linear-gradient(to right, #933ffe, #18c8ff) border-box;
  border: 1px solid transparent;
  border-radius: 10px;

}
.input input {
  background: linear-gradient(#0b0b0f, #0b0b0f) padding-box;
  color: #565976;
  border-radius: 10px;

  padding: 1rem 4rem 1rem 0.5rem;
  border: none;
  text-align: lef;
}
.input input:focus {
  outline: 0;
}
.icon {
  cursor: pointer;
  color: #565976;
  margin-right: 0.7rem;
}
