.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedBack{

}
.feedBack h1{
  font-size: 3.1rem;
  text-align: center;
}
.feedBack p{
  text-align: center;
  color: #898CA9;
}
.feedBack a{
  color: white;
}
