.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .feedBack{

} */
.feedBack h1 {
  font-size: 3.1rem;
  text-align: center;
}
.feedBack p {
  text-align: center;
  color: #898ca9;
}
.feedBack a {
  color: white;
}
.input input {
  background: linear-gradient(#0B0B0F, #0B0B0F) padding-box,
    linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}
