.container{
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.title {
  width: 35rem;
  height: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  margin-top: 9rem;
  text-align: start;
  margin-bottom: 4rem;
}
.title h2 {
  width: 36rem;
  font-size: 3.1rem;
}
.title p {
  width: 36rem;
  font-size: 1rem;
  color: #898ca9;
}