.container {
  background-image: url(../../assets/bg-img1.png) ;
  background-position: right 0 top 30%;
  background-repeat: no-repeat;
}
.section1 {
  width: 100%;
  min-height: 99vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.section1 h2{
  width: 48rem;
  font-size: 3.1rem;
}
.section1 p{
  width: 36rem;
  font-size: 1rem;
  color: #898CA9;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
/* section2 */
.section2{
  width: 100%;
  min-height: 99vh;
  position: relative;
}
.img1{
  position: absolute;
  left: 0;
  bottom: 0;
}
.img2{
  position: absolute;
  left: 15%;
  width: 10rem;
  height: 10rem;
  bottom: 50%;
}
.img3{
  position: absolute;
  left: 19%;
  bottom: 45%;
}
.img4{
  position: absolute;
  left: 13%;
  bottom: 80%;
}
