.container{
  min-height: 44rem;
}
.title{
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title h1{
  font-size: 5.5rem;
  margin-top: 8rem;

}
.title p{
  margin-top: 1.5rem;
  color: #898CA9 ;
}