.container {
  min-height: 44rem;
}
.title {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.title h1 {
  font-size: 5.3rem;
  margin-top: 8rem;
  z-index: 10;
}
.title p {
  margin-top: 2rem;
  color: #898ca9;
  margin-bottom: 8rem;
  z-index: 10;
}
